<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jm.springboottemplate.system.mapper.MenuMapper">
    <resultMap id="baseResultMap" type="com.jm.springboottemplate.system.domain.Menu">
        <id property="menuId" column="menu_id"/>
        <result property="pattern" column="pattern"/>
        <collection property="roles" ofType="com.jm.springboottemplate.system.domain.Role">
            <id property="id" column="role_id"/>
            <result property="name" column="name"/>
            <result property="nameZh" column="name_zh"/>
        </collection>
    </resultMap>

    <select id="getAllMenus" resultMap="baseResultMap">
        SELECT m.*,
               r.role_id AS roldId,
               r.name    AS name,
               r.name_zh AS nameZh
        FROM menu m
                 LEFT JOIN menu_role mr ON m.menu_id = mr.menu_id
                 LEFT JOIN role r ON r.role_id = mr.role_id
        <![CDATA[
        /*project_name:SpringBootTemplate,namespace:com.jm.springboottemplate.system.dao.MenuDao,sqlid:getAllMenus*/
        ]]>
    </select>
</mapper>