<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmframework.boot.jmspringbootstarter.mapper.PermissionMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_permission(url, description, type, method, gmt_created, gmt_modified)
        VALUES (#{url}, #{description}, #{type}, #{method}, now(), now())
    </insert>

    <select id="selectByRoleIdList" resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.PermissionPO">
        SELECT DISTINCT tp.id,
                        tp.url,
                        tp.description,
                        tp.type,
                        tp.permission_expression AS permissionExpression,
                        tp.method,
                        tp.sort,
                        tp.parent_id             AS parentId,
                        tp.gmt_created           AS gmtCreated,
                        tp.gmt_modified          AS gmtModified,
                        tp.deleted
        FROM t_permission tp
                 LEFT JOIN t_role_permission trp ON tp.id = trp.permission_id
                 LEFT JOIN t_role tr ON tr.id = trp.role_id
        WHERE tr.id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectApiByUrl" resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.PermissionPO">
        SELECT *
        FROM t_permission tp
        WHERE tp.url = #{urlPrefix}
          AND tp.type = 2
    </select>

    <select id="selectApisByUrlPrefix"
            resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.PermissionPO">
        SELECT *
        FROM t_permission tp
        WHERE tp.url LIKE concat(#{urlPrefix}, '%')
          AND tp.type = 2
    </select>

    <select id="queryApiList"
            resultType="com.jmframework.boot.jmspringbootstarter.domain.response.GetApiListRO">
        SELECT tp.id,
               tp.url,
               tp.description,
               tp.permission_expression AS permissionExpression,
               tp.method,
               tp.sort,
               tp.gmt_created           AS gmtCreated,
               tp.gmt_modified          AS gmtModified
        FROM t_permission tp
        WHERE tp.type = 2
          AND tp.deleted != 1
        ORDER BY tp.id DESC
    </select>
</mapper>
