<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmframework.boot.jmspringbootstarter.mapper.PermissionMapper">
    <select id="selectByRoleIdList" resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.Permission">
        SELECT DISTINCT t_permission.*
        FROM t_permission LEFT JOIN t_role_permission ON t_permission.id = t_role_permission.permission_id
        LEFT JOIN t_role ON t_role.id = t_role_permission.role_id
        WHERE t_role.id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findApiByUrl" resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.Permission">
        SELECT *
        FROM t_permission tp
        WHERE tp.url = #{urlPrefix}
          AND tp.type = 2
    </select>

    <select id="findApisByUrlPrefix"
            resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.Permission">
        SELECT *
        FROM t_permission tp
        WHERE tp.url LIKE concat(#{urlPrefix}, '%')
          AND tp.type = 2
    </select>
</mapper>
