<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmframework.boot.jmspringbootstarter.mapper.RoleMapper">
    <select id="selectByUserId" resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.RolePO">
        SELECT tr.id,
               tr.name,
               tr.description,
               tr.gmt_created  AS gmtCreated,
               tr.gmt_modified AS gmtModified
        FROM t_role tr
                 LEFT JOIN t_user_role tur ON tr.id = tur.role_id
                 LEFT JOIN t_user tu ON tur.user_id = tu.id
        WHERE tu.id = #{userId}
    </select>

    <select id="selectPageList" resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.RolePO">
        SELECT tr.id,
               tr.name,
               tr.description,
               tr.gmt_created  AS gmtCreated,
               tr.gmt_modified AS gmtModified
        FROM t_role tr
    </select>

    <select id="checkRoleName" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_role tr
        WHERE tr.name = #{roleName}
    </select>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_role(name, description, gmt_created, gmt_modified)
        VALUES (#{name}, #{description}, now(), now())
    </insert>

    <select id="selectRoleByName"
            resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.RolePO">
        SELECT tr.id,
               tr.name,
               tr.description,
               tr.gmt_created  AS gmtCreated,
               tr.gmt_modified AS gmtModified
        FROM t_role tr
        WHERE tr.name = #{name}
    </select>
</mapper>
