<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmframework.boot.jmspringbootstarter.mapper.UserMapper">
    <select id="findByUsernameOrEmailOrPhone"
            resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.UserPO">
        SELECT tu.id,
               tu.username,
               tu.password,
               tu.nickname,
               tu.phone,
               tu.email,
               tu.birthday,
               tu.sex,
               tu.status,
               tu.create_time AS createTime,
               tu.modify_time AS modifyTime
        FROM t_user tu
        <where>
            <if test="username != null">
                tu.username = #{username}
            </if>
            <if test="phone != null">
                or tu.phone = #{phone}
            </if>
            <if test="email != null">
                or tu.email = #{email}
            </if>
        </where>
    </select>

    <select id="checkUsernameUniqueness" resultType="integer">
        SELECT count(1)
        FROM t_user tu
        WHERE tu.username = #{username}
    </select>

    <select id="checkEmailUniqueness" resultType="integer">
        SELECT count(1)
        FROM t_user tu
        WHERE tu.email = #{email}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(username, password, nickname, phone, email, birthday, sex, status, create_time, modify_time)
        VALUES (#{username}, #{password}, #{nickname}, #{phone}, #{email}, #{birthday}, #{sex}, #{status}, now(), now())
    </insert>

    <insert id="register" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(username, password, email, status, create_time, modify_time)
        VALUES (#{username}, #{password}, #{email}, 1, now(), now())
    </insert>

    <select id="getUsernameCountByUsername" resultType="integer">
        SELECT count(1)
        FROM t_user tu
        WHERE tu.username = #{username}
    </select>
    <select id="getAllUser" resultType="com.jmframework.boot.jmspringbootstarter.domain.persistence.UserPO">
        SELECT tu.id,
               tu.username,
               tu.password,
               tu.nickname,
               tu.phone,
               tu.email,
               tu.birthday,
               tu.sex,
               tu.status,
               tu.create_time AS createTime,
               tu.modify_time AS modifyTime
        FROM t_user tu
    </select>
</mapper>
